#found-box{
    font-size:16px;
    background-color: #eee;
    height: 100%;
    padding-top: 10px;
}

#found-Circle-box{
    display: flex;
    align-items: center;
    padding:15px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.found-icon{
    flex: 1;
    font-size: 26px;
    color: green;
}

.found-span{
    flex: 8;
}
.found-jiantou{
    flex: 1;
    text-align: right;
}